<div class="row">
    <div class="container">

        <div class="logo">
            <a href="index.html"><img src="./../../../assets/images/logo.png" alt="logo"></a>
        </div>

        <div class="responsive"><i data-icon="m" class="ion-navicon-round"></i></div>

        <ul class="nav-menu list-unstyled">
            <li><a href="#header" class="smoothScroll">Casa</a></li>
            <li><a href="#about" class="smoothScroll">Acerca De</a></li>
            <li><a href="#portfolio" class="smoothScroll">Mi Portafolio</a></li>
            <li><a href="#journal" class="smoothScroll">Blog</a></li>
            <li><a href="#contact" class="smoothScroll">Contactame</a></li>
        </ul>

    </div>
</div>