
<nav id="main-nav">
  <app-header></app-header>
</nav>

<!-- start section header -->
<div id="header" class="home">

  <div class="container">
      <div class="header-content">
          <h1>Yo Soy <span class="typed"></span></h1>
          <p>MUSICO, MAESTRO DE PERCUSION, Y PROGRAMADOR</p>

          <ul class="list-unstyled list-social">
              <li><a href="https://www.facebook.com/efraindrummer" target="_blank"><i class="ion-social-facebook"></i></a></li>
              <li><a href="https://twitter.com/efraindrummer7" target="_blank"><i class="ion-social-twitter"></i></a></li>
              <li><a href="https://www.instagram.com/efraindrummer/" target="_blank"><i class="ion-social-instagram"></i></a></li>
              <li><a href="https://efraindrummerwebsite.000webhostapp.com/index.html" target="_blank"><i class="ion-social-dribbble"></i></a></li>

          </ul>
      </div>
  </div>
</div>
<!-- End section header -->


<!-- start section about us -->
<div id="about" class="paddsection">
  <div class="container">
      <div class="row justify-content-between">

          <div class="col-lg-4 ">
              <div class="div-img-bg">
                  <div class="about-img">
                      <img src="../assets/images/yo.JPG" class="img-responsive" alt="me">
                  </div>
              </div>
          </div>

          <div class="col-lg-7">
              <div class="about-descr">

                  <p class="p-heading">Soy Musico / Baterista / Instructor de Musica y por supuesto amante de la Musica en toda su total expresion, Resido actualmente en Cd del carmen, campeche, Mexico.</p>
                  <p class="separator">Actualmente me dedico a dar clases de musica en mi academia @efraindrummer, 3 discos grabados y los que faltan, e participado con un sin fin de musicos y tocado sin parar durante los mas de 6 años de experiencia que tengo, para
                      mi la Musica no es un Arte, si no es parte de mi Vida!!!</p>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- end section about us -->


<!-- start section services -->
<div id="services">
  <div class="container">

      <div class="services-carousel owl-theme">

          <div class="services-block">

              <i class="ion-ios-browsers-outline"></i>
              <span>Baterista e Instructor</span>
              <p class="separator">Soy baterista, Actualmente me dedico a estudiar y a dar clases de Musica en mi academia @efraindrummer. </p>

          </div>

          <div class="services-block">

              <i class="ion-ios-lightbulb-outline"></i>
              <span>Identidad</span>
              <p class="separator">Me defino como alguien unico, sobresaliente y super competitivo. </p>

          </div>

          <div class="services-block">

              <i class="ion-ios-color-wand-outline"></i>
              <span>Desarrollador WEB</span>
              <p class="separator">Soy Desarrollador Web desde los 14 años, he echo algunos proyectos interesantes. </p>

          </div>

          <div class="services-block">

              <i class="ion-social-android-outline"></i>
              <span>Desarrollo Movil</span>
              <p class="separator">Actualmente me encuentro aprendiendo a desarrollar aplicaciones moviles con Android Studio, JavaScript y Flutter. </p>

          </div>

          <div class="services-block">

              <i class="ion-ios-analytics-outline"></i>
              <span>Analista de Datos</span>
              <p class="separator">Soy analista de datos, cuento con una certificacion de la fundacion Carlos Slim, Diplomado Tecnico en BIG DATA. </p>

          </div>

          <div class="services-block">

              <i class="ion-ios-camera-outline"></i>
              <span>Fotografo</span>
              <p class="separator">Soy fotografo en mis tiempos libres, me gusta mucho la imagen que puede aportar la fotografia, simplemente es impresionante. </p>

          </div>

      </div>

  </div>

</div>
<!-- end section services -->


<!-- start section portfolio -->
<div id="portfolio" class="text-center paddsection">

  <div class="container">
      <div class="section-title text-center">
          <h2>MI PORTAFOLIO</h2>
      </div>
  </div>

  <div class="container">
      <div class="row">
          <div class="col-md-12">

              <div class="portfolio-list">

                  <ul class="nav list-unstyled" id="portfolio-flters">
                      <li class="filter filter-active" data-filter=".all">TODO</li>
                      <li class="filter" data-filter=".branding">MARCA</li>
                      <li class="filter" data-filter=".mockups">MAQUETAS</li>
                      <li class="filter" data-filter=".uikits">UI KITS</li>
                      <li class="filter" data-filter=".webdesign">DISEÑO WEB</li>
                      <li class="filter" data-filter=".photography">FOTOGRAFIA</li>
                  </ul>

              </div>

              <div class="portfolio-container">

                  <div class="col-lg-4 col-md-6 portfolio-thumbnail all branding uikits webdesign">
                      <a class="popup-img" href="../assets/images/portfolio/1_gata.JPG">
                          <img src="../assets/images/portfolio/1_gata.JPG" alt="img">
                      </a>
                  </div>

                  <div class="col-lg-4 col-md-6 portfolio-thumbnail all mockups uikits photography">
                      <a class="popup-img" href="../assets/images/portfolio/hghghk.jpg">
                          <img src="../assets/images/portfolio/hghghk.jpg" alt="img">
                      </a>
                  </div>

                  <div class="col-lg-4 col-md-6 portfolio-thumbnail all branding webdesig photographyn">
                      <a class="popup-img" href="../assets/images//yo_principal.jpg">
                          <img src="../assets/images/yo_principal.jpg" alt="img">
                      </a>
                  </div>

                  <div class="col-lg-4 col-md-6 portfolio-thumbnail all mockups webdesign photography">
                      <a class="popup-img" href="../assets/images/portfolio/web_desing.JPG">
                          <img src="../assets/images/portfolio/web_desing.JPG" alt="img">
                      </a>
                  </div>

                  <div class="col-lg-4 col-md-6 portfolio-thumbnail all branding uikits photography">
                      <a class="popup-img" href="../assets/images/portfolio/DSC05605.JPG">
                          <img src="../assets/images/portfolio/DSC05605.JPG" alt="img">
                      </a>
                  </div>

                  <div class="col-lg-4 col-md-6 portfolio-thumbnail all mockups uikits webdesign">
                      <a class="popup-img" href="../assets/images/portfolio/DSC05612.JPG">
                          <img src="../assets/images/portfolio/DSC05612.JPG" alt="img">
                      </a>
                  </div>

              </div>
          </div>
      </div>
  </div>

</div>
<!-- End section portfolio -->


<!-- start section journal -->
<div id="journal" class="text-left paddsection">

  <div class="container">
      <div class="section-title text-center">
          <h2>DIARIO</h2>
      </div>
  </div>

  <div class="container">
      <div class="journal-block">
          <div class="row">

              <div class="col-lg-4 col-md-6">
                  <div class="journal-info">

                      <a href="#"><img src="../assets/images/images.jfif" class="img-responsive" alt="img"></a>

                      <div class="journal-txt">

                          <h4><a href="#">MUSICO</a></h4>
                          <p class="separator">
                              Desde los 18 años imparto clases de Musica, en especial el instrumento de la Bateria(Drums) es impresionante como aprender este instrumento ayuda a mejorar nuestra cordinacion, Intelecto y sobre todo nuestros Reflejos.
                          </p>

                      </div>

                  </div>
              </div>

              <div class="col-lg-4 col-md-6">
                  <div class="journal-info">

                      <a href="#"><img src="../assets/images/DHdK91QW0AA9tbY.jpg" class="img-responsive" alt="img"></a>

                      <div class="journal-txt">

                          <h4><a href="#">ACADEMIA DE MUSICA</a></h4>
                          <p class="separator">
                              Sabias que aprender un instrumento ayuda a mejorar algunos skills es nuestra vida diaria, ayuda a relacionarnos mejor, sentirnos bien con nosotros mismos y sobre todo liberar estres!!! Actualmente tengo una academia de musica llamada @efraindrummer me
                              dedico a impartir clases, talleres e incluso me puedes contactar para ir a tu Ciudad a impartir algunas Master Class!!!!
                          </p>

                      </div>

                  </div>
              </div>

              <div class="col-lg-4 col-md-6">
                  <div class="journal-info">

                      <a href="#"><img src="../assets/images/Dd1azpbUwAA7AMj.jpg" class="img-responsive" alt="img"></a>

                      <div class="journal-txt">

                          <h4><a href="#">VISITA MIS REDES SOCIALES</a></h4>
                          <p class="separator">
                              Actualmente Curso la Materia de Inteligencia Artifical en mi universidad me gustaria que probaras mi ChatBot para mi proyecto final de mi negocio!!!
                          </p>

                      </div>

                  </div>
              </div>

          </div>
      </div>
  </div>

</div>
<!-- End section journal -->


<!-- start sectoion contact -->
<div id="contact" class="paddsection">
  <div class="container">
      <div class="contact-block1">
          <div class="row">

              <div class="col-lg-6">
                  <div class="contact-contact">

                      <h2 class="mb-30">CONTACTAME </h2>

                      <ul class="contact-details">
                          <li><span>Benito Juarez, Calle 19</span></li>
                          <li><span>Cd del Carmen, Campeche, Mexico.</span></li>
                          <li><span>+52 9381169411</span></li>
                          <li><span>efrain_may_75@hotmail.com</span></li>
                      </ul>

                  </div>
              </div>

              <div class="col-lg-6">
                  <form action="" method="post" role="form" class="contactForm">
                      <div class="row">

                          <div id="sendmessage">Tu mensaje ha sido Enviado, Muchas Gracias!!!</div>
                          <div id="errormessage"></div>

                          <div class="col-lg-6">
                              <div class="form-group contact-block1">
                                  <input type="text" name="name" class="form-control" id="name" placeholder="Tu Nombre" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                                  <div class="validation"></div>
                              </div>
                          </div>

                          <div class="col-lg-6">
                              <div class="form-group">
                                  <input type="email" class="form-control" name="email" id="email" placeholder="Tu Correo" data-rule="email" data-msg="Please enter a valid email" />
                                  <div class="validation"></div>
                              </div>
                          </div>

                          <div class="col-lg-12">
                              <div class="form-group">
                                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                                  <div class="validation"></div>
                              </div>
                          </div>

                          <div class="col-lg-12">
                              <div class="form-group">
                                  <textarea class="form-control" name="message" rows="12" data-rule="required" data-msg="Please write something for us" placeholder="Mensaje"></textarea>
                                  <div class="validation"></div>
                              </div>
                          </div>

                          <div class="col-lg-12">
                              <input type="submit" class="btn btn-defeault btn-send" value="Enviar Mensaje">
                          </div>

                      </div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>

<div id="footer" class="text-center">
  <app-footer></app-footer>
</div>