<div class="container">
    <div class="socials-media text-center">

        <ul class="list-unstyled">
            <li><a href="https://www.facebook.com/efraindrummer" target="_blank"><i class="ion-social-facebook"></i></a></li>
            <li><a href="https://twitter.com/efraindrummer7" target="_blank"><i class="ion-social-twitter"></i></a></li>
            <li><a href="https://www.instagram.com/efraindrummer/" target="_blank"><i class="ion-social-instagram"></i></a></li>
            <li><a href="https://fernando-herrera.com/logros/#/wwifihack@gmail.com" target="_blank"><i class="ion-social-dribbble"></i></a></li>
        </ul>

    </div>

    <p>&copy; Copyrights @efraindrummer. Todos los derechos reservados.</p>

    <div class="credits">
        Diseñado por <a href="https://fernando-herrera.com/logros/#/wwifihack@gmail.com">@efraindrummer</a>
    </div>

</div>